 <h1>Events List</h1>
  {% if events %}
  <ul>
    {% for event in events %}
      <li>
        {% if not form %}
        <form action="{{event.id}}/" method="post">
        {%endif%}
        {% if form %}
        <form action="confirm/{{client.id}}/" method="post">
        {%endif%}
            {% csrf_token %}
            {{ event.title }} {{event.start_date}} - {{event.end_date}} {{event.id}} 
            {% if not form %}
            <input type="submit" value="Sign up">
            {%endif%}
            {% if form %}
            <li>
                {{form.as_table}}
            </li>
            <input type="submit" value="Confirm">
            {% endif %}
        </form>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no events.</p>
  {% endif %}       
